body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

span {
  color: #3c5aa8;
  opacity: 0.4;
  font-size: 14px;
  text-transform: uppercase;
}

button {
  padding: 11px 70px;
  border-radius: 10px;
  display: block;
  border: none;
  outline: none;
  background-color: #4a9dff;
  color: white;
  opacity: 1;
  text-transform: uppercase;
  font-size: 14px;
}

.App {
  padding: 50px;
}
